[user]
        email = bolaum@gmail.com
        name = Thiago Borges Abdnur
[core]
        editor = vim
[alias]
        st = status
	co = checkout
        b = branch
        cm = commit
[push]
	default = simple
